Thumbs.db

*.obj
*.user
*.suo
.vs
*.user
*.dbml
*.dbmdl
*.psess
*.vsp

[Bb]in
[Dd]ebug*/
vdir_data/*
src/*/Data

build/
release/
obj/

_cache
_ReSharper*/
*.resharper*

src/UD.*/.htaccess
src/UD.*/[Ww]eb.config
*.[Ll]og

config.json
node_modules