@font-face {
    font-family: ProximaNova;
    src: url(fonts/ProximaNova-Regular.otf);
}
@font-face {
    font-family: ProximaNova-bold;
    src: url(fonts/ProximaNova-Bold.otf);
}
@font-face {
    font-family: bebase;
    src: url(fonts/BebasNeueBold.otf);
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
	font-family: ProximaNova-Bold;
}
.navbar-header {
		background-color: #16F2C2;

	text-align: center;
	font-size: 48px;
	
	font-family: bebase;
	text-align: center;
}
.navbar-header {
	padding-top: 10px;
	padding-left: 64px;
}
.navbar-inverse
{border-bottom: 0px;}

.navbar-toggle {
	border: none;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
	padding-top: 35px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.icon-tag {
	text-align: center;
		
}

.icon-tag img{
	width: 40%;
	margin: 20px 0;
}
.skill-tag {
	display: inline-block;
	width: 47%;
	height: 46px;
	line-height: 46px;
	padding: 0 10px;
	background-color: #16f3c2;
	border-radius: 31px;
	color: #000;
	margin: 5px 5px;
	text-align: center;
	font-size: 14px;
}

.skill-tag-selected {
	background-color: #29a696;
}

.skills-container {
	display: none;
}

.tag-container h2 {
	margin: 40px;
	text-align: center;
}
.profile-image {
	border-radius: 50%;
	height: 150px;
	width: 150px;
		border: 1px solid  #efefef;
}
.profile-image-small {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	border: 1px solid  #efefef;

}
.alternatives {
	background-color: #efefef;
	padding: 20px;
}
.alternatives .profile-image {
	border-radius: 50%;
	height: 70px;
	width: 70px;
	margin-top: 0px;
}
.alternatives a {
	color: #000;
}

.profile-head {
	text-align: center;
}
footer {
	text-align: center
}
.tag-data {
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: ProximaNova;
}

.submit-search {
	width: 50%;
	margin: 0 auto;
	height: 38px;
	border-radius: 20px;
	border: 2px solid #000;
	background-color: #fff;
	font-size: 16px;
}

.action-button {
	width: 100%;
	background-color: #fff;
	color: #000;
	font-size: 18px;
	border: none;
}